{% extends 'base.html.twig' %}

{% block title %}Countries API{% endblock %}

{% block body %}
<h1>Country Data</h1>

<ul>
{% for country in data %}
<li>
<div class="card">
<h2>{{ country.name.common }}</h2>{{ country.flag }}
<p>Region: {{ country.region }}</p>
<p>Population: {{ country.population }}</p>
{% if country.capitalInfo %}
<p>Capital: {{ country.capitalInfo.latlng[0] }}, {{ country.capitalInfo.latlng[1] }}</p>
<p>Capitalcity: {{ country.capital[0] }}</p>
<p>timezone: {{ country.timezones[0] }}</p>

{% endif %}


<a href="{{ country.maps.googleMaps }}">GoogleMaps</a>
</div>
</li>
{% endfor %}
</ul>

{% endblock %}
